<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/main.js"></script>
    <title>Bầu cua</title>
</head>
<body>
        <div class="header">
            <h1 class="title">Bầu Cua 2021</h1>
        </div>

        <div class="result">
            <div class="item">
                <img class="itemImg" src="." alt="">
            </div>
            <div class="item">
                <img class="itemImg" src="." alt="">
            </div>
            <div class="item">
                <img class="itemImg" src="." alt="">
            </div>
        </div>
        <div class="shake">
            <img class="itemShake" src="/images/none.png" alt="">
        </div>
        <div class="Action">
            <button class="btnClick" id="btnShake">Xốc</button>
            <button class="btnClick" id="btnOpen">Mở</button>
            <button class="btnClick" id="btnNext">Tiếp tục</button>
        </div>
        <div class="view">
            <table class="table">
                <tr>
                    <td><img class="viewImg" src="/images/4.png" alt=""></td>
                    <td><img class="viewImg" src="/images/0.png" alt=""></td>
                    <td><img class="viewImg" src="/images/3.png" alt=""></td>
                </tr>
                <tr>
                    <td><img class="viewImg" src="/images/1.png" alt=""></td>
                    <td><img class="viewImg" src="/images/2.png" alt=""></td>
                    <td><img class="viewImg" src="/images/5.png" alt=""></td>
                </tr>
            </table>
        </div>

</body>
</html>